<form class="form-horizontal" role="form" method="post" action="{$action}" enctype="multipart/form-data" {if isset($target)}{$target}{/if} id="formPrincipal">
	<fieldset id="agrupador">
		<a href="#inicioFormulario" id="inicioFormulario" class="hidden">Inicio do formulário</a>
