/* 
    Created on : 05/01/2016, 19:50:19
    Author     : marcio
*/

input[type="checkbox"].form-control {
    width: auto;
}
#formPrincipal.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}
legend{
    padding-left: 10px;
}