/* 
    Created on : 25/08/2015, 19:12:56
    Author     : marcio
*/


.ui-jqgrid.ui-jqgrid-bootstrap{
    border-radius: 0px !important; 
}

.ui-jqgrid.ui-jqgrid-bootstrap .ui-jqgrid-bootstrap-corner-top{
    border-radius: 0px !important; 
    background-color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

#tabelaPaginacaoManterDados .ui-pg-button span {
    float: right !important;
}

.ui-jqgrid tr.jqfoot > td, .ui-jqgrid tr.jqgroup > td, .ui-jqgrid tr.jqgrow > td, .ui-jqgrid tr.ui-subgrid > td, #tabelaPaginacaoManterDados tr.ui-subtblcell > td{
    height: 35px !important;
}